.portada{
background-image: url("../../../assets/img/bg-naranja-1.jpg");
min-width: 100%;
height: 60vh;
}

.bg-img{
    background-image: url("../../../assets/img/party-5.jpeg");
    width: 100rem;
} 